<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div>
        <div class="library-image-container">
            <div class="library-text1">Prompt library</div>
            <div class="library-text2">Choose the prompt that suits you best. Once you click , it'll appear in the text
                input field. You can then send it as is or add your own words.</div>
        </div><button class="features-button features-button-light library-button"
            style="margin: 0px 0px 10px; width: 100%; max-width: initial; padding-bottom: 8px; height: auto;">Prompts
            for Legal Consumers <img class="chat-history-delete rotate-img"
                src="./static/media/arrow.425733345ff1c7ebf1779760dea542fe.svg"
                style="margin-top: 5px; margin-right: 18px; transform: rotate(0deg);"></button><button
            class="features-button features-button-light library-button"
            style="margin: 0px 0px 10px; width: 100%; max-width: initial; padding-bottom: 8px; height: auto;">Prompts
            for Legal Research <img class="chat-history-delete rotate-img"
                src="./static/media/arrow.425733345ff1c7ebf1779760dea542fe.svg"
                style="margin-top: 5px; margin-right: 18px; transform: rotate(0deg);"></button><button
            class="features-button features-button-light library-button"
            style="margin: 0px 0px 10px; width: 100%; max-width: initial; padding-bottom: 8px; height: auto;">Prompts
            for Drafting Legal Documents <img class="chat-history-delete rotate-img"
                src="./static/media/arrow.425733345ff1c7ebf1779760dea542fe.svg"
                style="margin-top: 5px; margin-right: 18px; transform: rotate(0deg);"></button><button
            class="features-button features-button-light library-button"
            style="margin: 0px 0px 10px; width: 100%; max-width: initial; padding-bottom: 8px; height: auto;">Prompts
            for Family Lawyers <img class="chat-history-delete rotate-img"
                src="./static/media/arrow.425733345ff1c7ebf1779760dea542fe.svg"
                style="margin-top: 5px; margin-right: 18px; transform: rotate(180deg);"></button>
        <div class="library-prompts">
            <div class="library-prompt"><span style="width: 100%;">Draft a prenuptial agreement for engaged couples who
                    want to protect their assets</span><img
                    src="./static/media/plus.d3003903005684bbc7116785d5b366cb.svg"
                    style="position: relative; text-align: right; margin-right: 16px;"></div>
            <div class="library-prompt"><span style="width: 100%;">Create a child custody agreement for divorcing
                    parents</span><img src="./static/media/plus.d3003903005684bbc7116785d5b366cb.svg"
                    style="position: relative; text-align: right; margin-right: 16px;"></div>
            <div class="library-prompt"><span style="width: 100%;">Write a postnuptial agreement for spouses who want to
                    modify their marital property rights</span><img
                    src="./static/media/plus.d3003903005684bbc7116785d5b366cb.svg"
                    style="position: relative; text-align: right; margin-right: 16px;"></div>
            <div class="library-prompt"><span style="width: 100%;">Prepare a parenting plan for separated parents to
                    outline their co-parenting responsibilities</span><img
                    src="./static/media/plus.d3003903005684bbc7116785d5b366cb.svg"
                    style="position: relative; text-align: right; margin-right: 16px;"></div>
            <div class="library-prompt"><span style="width: 100%;">Draft a property settlement agreement for a divorcing
                    couple to divide their assets and debts</span><img
                    src="./static/media/plus.d3003903005684bbc7116785d5b366cb.svg"
                    style="position: relative; text-align: right; margin-right: 16px;"></div>
            <div class="library-prompt"><span style="width: 100%;">Write a spousal support agreement for a couple
                    considering divorce</span><img src="./static/media/plus.d3003903005684bbc7116785d5b366cb.svg"
                    style="position: relative; text-align: right; margin-right: 16px;"></div>
            <div class="library-prompt"><span style="width: 100%;">Create a visitation schedule for non-custodial
                    parents to maintain a relationship with their children</span><img
                    src="./static/media/plus.d3003903005684bbc7116785d5b366cb.svg"
                    style="position: relative; text-align: right; margin-right: 16px;"></div>
            <div class="library-prompt"><span style="width: 100%;">Prepare an adoption agreement for a family looking to
                    adopt a child</span><img src="./static/media/plus.d3003903005684bbc7116785d5b366cb.svg"
                    style="position: relative; text-align: right; margin-right: 16px;"></div>
            <div class="library-prompt"><span style="width: 100%;">Draft a guardianship agreement for grandparents who
                    want to become the legal guardians of their grandchildren</span><img
                    src="./static/media/plus.d3003903005684bbc7116785d5b366cb.svg"
                    style="position: relative; text-align: right; margin-right: 16px;"></div>
            <div class="library-prompt"><span style="width: 100%;">Write a paternity petition for a father seeking to
                    establish his legal rights to a child</span><img
                    src="./static/media/plus.d3003903005684bbc7116785d5b366cb.svg"
                    style="position: relative; text-align: right; margin-right: 16px;"></div>
            <div class="library-prompt"><span style="width: 100%;">What should be included in a marital settlement
                    agreement?</span><img src="./static/media/plus.d3003903005684bbc7116785d5b366cb.svg"
                    style="position: relative; text-align: right; margin-right: 16px;"></div>
            <div class="library-prompt"><span style="width: 100%;">What are the standard clauses for a child support
                    agreement?</span><img src="./static/media/plus.d3003903005684bbc7116785d5b366cb.svg"
                    style="position: relative; text-align: right; margin-right: 16px;"></div>
            <div class="library-prompt"><span style="width: 100%;">What are the necessary elements for a decree of
                    dissolution of marriage?</span><img src="./static/media/plus.d3003903005684bbc7116785d5b366cb.svg"
                    style="position: relative; text-align: right; margin-right: 16px;"></div>
            <div class="library-prompt"><span style="width: 100%;">What are the typical terms for a mediated divorce
                    agreement?</span><img src="./static/media/plus.d3003903005684bbc7116785d5b366cb.svg"
                    style="position: relative; text-align: right; margin-right: 16px;"></div>
            <div class="library-prompt"><span style="width: 100%;">What are the recommended provisions for a
                    cohabitation agreement?</span><img src="./static/media/plus.d3003903005684bbc7116785d5b366cb.svg"
                    style="position: relative; text-align: right; margin-right: 16px;"></div>
            <div class="library-prompt"><span style="width: 100%;">Provide a template for a parenting time
                    modification</span><img src="./static/media/plus.d3003903005684bbc7116785d5b366cb.svg"
                    style="position: relative; text-align: right; margin-right: 16px;"></div>
            <div class="library-prompt"><span style="width: 100%;">What are the most common mistakes to avoid when
                    drafting a separation agreement?</span><img
                    src="./static/media/plus.d3003903005684bbc7116785d5b366cb.svg"
                    style="position: relative; text-align: right; margin-right: 16px;"></div>
            <div class="library-prompt"><span style="width: 100%;">Draft a domestic partnership agreement for unmarried
                    couples who want to establish their legal rights</span><img
                    src="./static/media/plus.d3003903005684bbc7116785d5b366cb.svg"
                    style="position: relative; text-align: right; margin-right: 16px;"></div>
            <div class="library-prompt"><span style="width: 100%;">Write a power of attorney for family members to make
                    decisions on behalf of an incapacitated relative</span><img
                    src="./static/media/plus.d3003903005684bbc7116785d5b366cb.svg"
                    style="position: relative; text-align: right; margin-right: 16px;"></div>
            <div class="library-prompt"><span style="width: 100%;">Create a will for a client who wants to ensure their
                    family is provided for after their death</span><img
                    src="./static/media/plus.d3003903005684bbc7116785d5b366cb.svg"
                    style="position: relative; text-align: right; margin-right: 16px;"></div>
            <div class="library-prompt"><span style="width: 100%;">Prepare a living trust for a client who wants to
                    protect their assets and avoid probate</span><img
                    src="./static/media/plus.d3003903005684bbc7116785d5b366cb.svg"
                    style="position: relative; text-align: right; margin-right: 16px;"></div>
            <div class="library-prompt"><span style="width: 100%;">Draft a grandparent visitation petition for
                    grandparents seeking court-ordered visitation with their grandchildren</span><img
                    src="./static/media/plus.d3003903005684bbc7116785d5b366cb.svg"
                    style="position: relative; text-align: right; margin-right: 16px;"></div>
            <div class="library-prompt"><span style="width: 100%;">Write a step-parent adoption petition for a
                    step-parent who wants to adopt their spouse's child</span><img
                    src="./static/media/plus.d3003903005684bbc7116785d5b366cb.svg"
                    style="position: relative; text-align: right; margin-right: 16px;"></div>
            <div class="library-prompt"><span style="width: 100%;">Create a surrogacy agreement for intended parents and
                    their surrogate</span><img src="./static/media/plus.d3003903005684bbc7116785d5b366cb.svg"
                    style="position: relative; text-align: right; margin-right: 16px;"></div>
            <div class="library-prompt"><span style="width: 100%;">Prepare an estate plan for a client looking to
                    protect their family's financial future</span><img
                    src="./static/media/plus.d3003903005684bbc7116785d5b366cb.svg"
                    style="position: relative; text-align: right; margin-right: 16px;"></div>
            <div class="library-prompt"><span style="width: 100%;">Draft a letter of intent for a family member who
                    wants to ensure their wishes are carried out in case of their incapacity</span><img
                    src="./static/media/plus.d3003903005684bbc7116785d5b366cb.svg"
                    style="position: relative; text-align: right; margin-right: 16px;"></div>
            <div class="library-prompt"><span style="width: 100%;">What should be included in a durable power of
                    attorney for healthcare decisions?</span><img
                    src="./static/media/plus.d3003903005684bbc7116785d5b366cb.svg"
                    style="position: relative; text-align: right; margin-right: 16px;"></div>
            <div class="library-prompt"><span style="width: 100%;">What are the standard clauses for a conservatorship
                    agreement?</span><img src="./static/media/plus.d3003903005684bbc7116785d5b366cb.svg"
                    style="position: relative; text-align: right; margin-right: 16px;"></div>
            <div class="library-prompt"><span style="width: 100%;">What are the necessary elements for a family limited
                    partnership?</span><img src="./static/media/plus.d3003903005684bbc7116785d5b366cb.svg"
                    style="position: relative; text-align: right; margin-right: 16px;"></div>
            <div class="library-prompt"><span style="width: 100%;">What are the typical terms for a qualified domestic
                    relations order (QDRO)?</span><img src="./static/media/plus.d3003903005684bbc7116785d5b366cb.svg"
                    style="position: relative; text-align: right; margin-right: 16px;"></div>
            <div class="library-prompt"><span style="width: 100%;">What are the recommended provisions for an intestate
                    succession plan?</span><img src="./static/media/plus.d3003903005684bbc7116785d5b366cb.svg"
                    style="position: relative; text-align: right; margin-right: 16px;"></div>
            <div class="library-prompt"><span style="width: 100%;">Provide a template for a declaration of
                    paternity</span><img src="./static/media/plus.d3003903005684bbc7116785d5b366cb.svg"
                    style="position: relative; text-align: right; margin-right: 16px;"></div>
            <div class="library-prompt"><span style="width: 100%;">What are the most common mistakes to avoid when
                    drafting a post-adoption contact agreement?</span><img
                    src="./static/media/plus.d3003903005684bbc7116785d5b366cb.svg"
                    style="position: relative; text-align: right; margin-right: 16px;"></div>
            <div class="library-prompt"><span style="width: 100%;">Draft a pre-adoption home study for prospective
                    adoptive parents</span><img src="./static/media/plus.d3003903005684bbc7116785d5b366cb.svg"
                    style="position: relative; text-align: right; margin-right: 16px;"></div>
            <div class="library-prompt"><span style="width: 100%;">Write a name change petition for a client who wants
                    to change their legal name</span><img src="./static/media/plus.d3003903005684bbc7116785d5b366cb.svg"
                    style="position: relative; text-align: right; margin-right: 16px;"></div>
            <div class="library-prompt"><span style="width: 100%;">Create a marital property agreement for a couple who
                    want to define their separate and shared assets</span><img
                    src="./static/media/plus.d3003903005684bbc7116785d5b366cb.svg"
                    style="position: relative; text-align: right; margin-right: 16px;"></div>
            <div class="library-prompt"><span style="width: 100%;">Prepare a temporary custody order for a client who
                    needs to establish temporary guardianship of a child</span><img
                    src="./static/media/plus.d3003903005684bbc7116785d5b366cb.svg"
                    style="position: relative; text-align: right; margin-right: 16px;"></div>
            <div class="library-prompt"><span style="width: 100%;">Draft an affidavit of support for a family member
                    seeking to sponsor a relative for immigration purposes</span><img
                    src="./static/media/plus.d3003903005684bbc7116785d5b366cb.svg"
                    style="position: relative; text-align: right; margin-right: 16px;"></div>
            <div class="library-prompt"><span style="width: 100%;">Write a restraining order petition for a client
                    seeking protection from domestic violence</span><img
                    src="./static/media/plus.d3003903005684bbc7116785d5b366cb.svg"
                    style="position: relative; text-align: right; margin-right: 16px;"></div>
            <div class="library-prompt"><span style="width: 100%;">Create a dependency and neglect petition for a client
                    who wants to report child abuse or neglect to the court</span><img
                    src="./static/media/plus.d3003903005684bbc7116785d5b366cb.svg"
                    style="position: relative; text-align: right; margin-right: 16px;"></div>
            <div class="library-prompt"><span style="width: 100%;">What should be included in a family care plan for
                    military families?</span><img src="./static/media/plus.d3003903005684bbc7116785d5b366cb.svg"
                    style="position: relative; text-align: right; margin-right: 16px;"></div>
            <div class="library-prompt"><span style="width: 100%;">What are the standard clauses for a relinquishment of
                    parental rights document?</span><img src="./static/media/plus.d3003903005684bbc7116785d5b366cb.svg"
                    style="position: relative; text-align: right; margin-right: 16px;"></div>
            <div class="library-prompt"><span style="width: 100%;">What are the necessary elements for a termination of
                    parental rights petition?</span><img src="./static/media/plus.d3003903005684bbc7116785d5b366cb.svg"
                    style="position: relative; text-align: right; margin-right: 16px;"></div>
            <div class="library-prompt"><span style="width: 100%;">What are the typical terms for a special needs
                    trust?</span><img src="./static/media/plus.d3003903005684bbc7116785d5b366cb.svg"
                    style="position: relative; text-align: right; margin-right: 16px;"></div>
            <div class="library-prompt"><span style="width: 100%;">What are the recommended provisions for a mediation
                    agreement in a family law dispute?</span><img
                    src="./static/media/plus.d3003903005684bbc7116785d5b366cb.svg"
                    style="position: relative; text-align: right; margin-right: 16px;"></div>
            <div class="library-prompt"><span style="width: 100%;">Provide a template for a stipulation and order to
                    modify child support</span><img src="./static/media/plus.d3003903005684bbc7116785d5b366cb.svg"
                    style="position: relative; text-align: right; margin-right: 16px;"></div>
            <div class="library-prompt"><span style="width: 100%;">What are the most common mistakes to avoid when
                    drafting a collaborative divorce agreement?</span><img
                    src="./static/media/plus.d3003903005684bbc7116785d5b366cb.svg"
                    style="position: relative; text-align: right; margin-right: 16px;"></div>
            <div class="library-prompt"><span style="width: 100%;">Draft a no-contest clause for a client who wants to
                    discourage challenges to their will</span><img
                    src="./static/media/plus.d3003903005684bbc7116785d5b366cb.svg"
                    style="position: relative; text-align: right; margin-right: 16px;"></div>
            <div class="library-prompt"><span style="width: 100%;">Write an emancipation petition for a minor seeking
                    legal independence from their parents</span><img
                    src="./static/media/plus.d3003903005684bbc7116785d5b366cb.svg"
                    style="position: relative; text-align: right; margin-right: 16px;"></div>
            <div class="library-prompt"><span style="width: 100%;">Create a temporary restraining order for a client who
                    needs immediate protection from harassment or abuse</span><img
                    src="./static/media/plus.d3003903005684bbc7116785d5b366cb.svg"
                    style="position: relative; text-align: right; margin-right: 16px;"></div>
            <div class="library-prompt"><span style="width: 100%;">Prepare a qualified terminable interest property
                    (QTIP) trust for a client who wants to provide for their spouse and children from a previous
                    marriage</span><img src="./static/media/plus.d3003903005684bbc7116785d5b366cb.svg"
                    style="position: relative; text-align: right; margin-right: 16px;"></div>
            <div class="library-prompt"><span style="width: 100%;">Draft a conservatorship nomination for a client who
                    wants to appoint a trusted person to manage their affairs in case of incapacity</span><img
                    src="./static/media/plus.d3003903005684bbc7116785d5b366cb.svg"
                    style="position: relative; text-align: right; margin-right: 16px;"></div>
            <div class="library-prompt"><span style="width: 100%;">Write a petition for the appointment of a guardian ad
                    litem for a child involved in a family law dispute</span><img
                    src="./static/media/plus.d3003903005684bbc7116785d5b366cb.svg"
                    style="position: relative; text-align: right; margin-right: 16px;"></div>
            <div class="library-prompt"><span style="width: 100%;">Create an affidavit of voluntary relinquishment of
                    parental rights for a parent who wants to give up their legal rights to a child</span><img
                    src="./static/media/plus.d3003903005684bbc7116785d5b366cb.svg"
                    style="position: relative; text-align: right; margin-right: 16px;"></div>
            <div class="library-prompt"><span style="width: 100%;">Prepare an affidavit of non-paternity for a man who
                    wants to disprove paternity of a child</span><img
                    src="./static/media/plus.d3003903005684bbc7116785d5b366cb.svg"
                    style="position: relative; text-align: right; margin-right: 16px;"></div>
            <div class="library-prompt"><span style="width: 100%;">What should be included in a standby guardianship
                    designation?</span><img src="./static/media/plus.d3003903005684bbc7116785d5b366cb.svg"
                    style="position: relative; text-align: right; margin-right: 16px;"></div>
            <div class="library-prompt"><span style="width: 100%;">What are the standard clauses for a child relocation
                    agreement?</span><img src="./static/media/plus.d3003903005684bbc7116785d5b366cb.svg"
                    style="position: relative; text-align: right; margin-right: 16px;"></div>
            <div class="library-prompt"><span style="width: 100%;">What are the necessary elements for a legal
                    separation agreement?</span><img src="./static/media/plus.d3003903005684bbc7116785d5b366cb.svg"
                    style="position: relative; text-align: right; margin-right: 16px;"></div>
            <div class="library-prompt"><span style="width: 100%;">What are the typical terms for a family law
                    arbitration agreement?</span><img src="./static/media/plus.d3003903005684bbc7116785d5b366cb.svg"
                    style="position: relative; text-align: right; margin-right: 16px;"></div>
            <div class="library-prompt"><span style="width: 100%;">What are the recommended provisions for a declaration
                    of disclosure in a family law case?</span><img
                    src="./static/media/plus.d3003903005684bbc7116785d5b366cb.svg"
                    style="position: relative; text-align: right; margin-right: 16px;"></div>
            <div class="library-prompt"><span style="width: 100%;">Provide a template for an order to show cause in a
                    child custody dispute</span><img src="./static/media/plus.d3003903005684bbc7116785d5b366cb.svg"
                    style="position: relative; text-align: right; margin-right: 16px;"></div>
            <div class="library-prompt"><span style="width: 100%;">What are the most common mistakes to avoid when
                    drafting a family law settlement agreement?</span><img
                    src="./static/media/plus.d3003903005684bbc7116785d5b366cb.svg"
                    style="position: relative; text-align: right; margin-right: 16px;"></div>
        </div><button class="features-button features-button-light library-button"
            style="margin: 0px 0px 10px; width: 100%; max-width: initial; padding-bottom: 8px; height: auto;">Prompts
            for Personal Injury Lawyers <img class="chat-history-delete rotate-img"
                src="./static/media/arrow.425733345ff1c7ebf1779760dea542fe.svg"
                style="margin-top: 5px; margin-right: 18px; transform: rotate(0deg);"></button><button
            class="features-button features-button-light library-button"
            style="margin: 0px 0px 10px; width: 100%; max-width: initial; padding-bottom: 8px; height: auto;">Prompts
            for Employment and Labor lawyers <img class="chat-history-delete rotate-img"
                src="./static/media/arrow.425733345ff1c7ebf1779760dea542fe.svg"
                style="margin-top: 5px; margin-right: 18px; transform: rotate(0deg);"></button><button
            class="features-button features-button-light library-button"
            style="margin: 0px 0px 10px; width: 100%; max-width: initial; padding-bottom: 8px; height: auto;">Prompts
            for Immigration lawyers <img class="chat-history-delete rotate-img"
                src="./static/media/arrow.425733345ff1c7ebf1779760dea542fe.svg"
                style="margin-top: 5px; margin-right: 18px; transform: rotate(0deg);"></button><button
            class="features-button features-button-light library-button"
            style="margin: 0px 0px 10px; width: 100%; max-width: initial; padding-bottom: 8px; height: auto;">Prompts
            for Business lawyers <img class="chat-history-delete rotate-img"
                src="./static/media/arrow.425733345ff1c7ebf1779760dea542fe.svg"
                style="margin-top: 5px; margin-right: 18px; transform: rotate(0deg);"></button><button
            class="features-button features-button-light library-button"
            style="margin: 0px 0px 10px; width: 100%; max-width: initial; padding-bottom: 8px; height: auto;">Prompts
            for Tax lawyers <img class="chat-history-delete rotate-img"
                src="./static/media/arrow.425733345ff1c7ebf1779760dea542fe.svg"
                style="margin-top: 5px; margin-right: 18px; transform: rotate(0deg);"></button><button
            class="features-button features-button-light library-button"
            style="margin: 0px 0px 10px; width: 100%; max-width: initial; padding-bottom: 8px; height: auto;">Prompts
            for Real Estate lawyers <img class="chat-history-delete rotate-img"
                src="./static/media/arrow.425733345ff1c7ebf1779760dea542fe.svg"
                style="margin-top: 5px; margin-right: 18px; transform: rotate(0deg);"></button><button
            class="features-button features-button-light library-button"
            style="margin: 0px 0px 10px; width: 100%; max-width: initial; padding-bottom: 8px; height: auto;">Prompts
            for Intellectual Property (IP) lawyers <img class="chat-history-delete rotate-img"
                src="./static/media/arrow.425733345ff1c7ebf1779760dea542fe.svg"
                style="margin-top: 5px; margin-right: 18px; transform: rotate(0deg);"></button><button
            class="features-button features-button-light library-button"
            style="margin: 0px 0px 10px; width: 100%; max-width: initial; padding-bottom: 8px; height: auto;">Prompts
            for Criminal Defense lawyers <img class="chat-history-delete rotate-img"
                src="./static/media/arrow.425733345ff1c7ebf1779760dea542fe.svg"
                style="margin-top: 5px; margin-right: 18px; transform: rotate(0deg);"></button>
    </div>
</body>

</html>